{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'food/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <title>Vinay</title>
</head>
<body>
    
        <nav class="navbar navbar-dark bg-dark">
                <a href="{% url 'food:index' %}" class="navbar-brand">Vinay FoodApp</a>
        
                <div class="navbar">
                    
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'food:create_item' %}">Add Item</a>
                        
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Signup</a>

                    {% endif %}
                </div>
            </nav>
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{‌{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
    {% block body %}
    {% endblock %}
</body>
</html>