
{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vinay foods</title>
    
    </head>
<body>
    
    {% block body %}
    <div class="container">
        <h4 style="top: auto;" >wellcome to vinay foodapp admin panel...please signup and login to create,update and delete the food items</h4>
        <hr>
    </div>

    {% for item in item_list %}
        <div class="row md-5">

            <div class="col-md-3 offset-md-2">
               <a href="{% url 'food:detail' item.id %}"><img class="card" height="200px" width='300px'src="{{ item.item_image}}"/></a>
            
            </div>
            <div class="col-md-4">
                <h3>{{ item.item_name }}</h3>
                <p>{{ item.item_desc }}</p>
                <h6>£{{ item.item_price}}</h6>
                {% if user.is_authenticated %}
                <a href="{% url 'food:update_item' item.id %}">update</a>
                {% endif %}
            </div>
            <div class="col-md-3">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
            
            </div>
        </div>


    {% endfor %}
    {% endblock %}

</body>
</html>